<h1 class="mat-display-1">Rock paper Scissors</h1>


<div class="game-results">
  <span class="mat-title">Wins: {{wins}}</span>
  <span class="mat-title">Draws: {{draws}}</span>
  <span class="mat-title">Loses: {{loses}}</span>
</div>


<app-rps-selector placeholder="You" (itemSelected)="setUserPlayerValue($event)"></app-rps-selector>
<app-rps-selector placeholder="Computer" [value]="computerPlayerValue" [disabled]="true"></app-rps-selector>
<button mat-raised-button color="primary" [disabled]="!userPlayerValue" (click)="play()">Play</button>
