<mat-form-field>
  <mat-select [placeholder]="placeholder" [value]="value" [disabled]="disabled" (valueChange)="onValueChange($event)">
    <mat-option *ngFor="let item of selectData" [value]="item">
      {{ item }}
    </mat-option>
  </mat-select>
</mat-form-field>
